.products-table {
    margin-top: 30px;
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
}

.products-table-heading-tr {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 465px;
    border-bottom: 2px solid black;
    text-align: center;
}

.products-table-tr {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px 10px 30px;
    text-align: center;
}

.products-table th {
    padding: 20px;
}

.products-table td {
    /* padding: 20px; */
    display: flex;
    align-items: center;
}

.products-table-img {
    width: 80px;
    border-radius: 10px;
    object-fit: cover;
}

.products-table-btn {
    padding: 8px 20px;
    font-size: 1.1rem;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--blue);
    margin-right: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.products-table-btn:hover{
    background-color: var(--hover);
    transition: 0.5s;
}
.products-table .products-table-tr{
    border-bottom: 2px dashed black;
}
.products-table 
.products-table-tr:last-child{
    border-bottom: none;
}