
.delete-modal {
    padding: 50px;
    text-align: center;
    background-color: var(--white);
    border-radius: 10px;
}

.delete-modal h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}
.delete-modal h1 .delete-icon{
    margin-top: -0.4rem;
    margin-left: 0.5rem;
    color: brown;
}
.delete-modal-btns {
    display: flex;
    column-gap: 20px;
}

.delete-btn {
    width: 100%;
    margin-top: 30px;
    font-size: 1.2rem;
    padding: 10px 0;
    background-color: gainsboro;
    border-radius: 10px;
    /* border: 2px solid black; */
    cursor: pointer;
    transition: 0.5s;
}
.delete-btn:hover{
    color: var(--white);
    background-color: var(--hover);
    transition: 0.5s;
}
.delete-modal-accept-btn {
    background-color: var(--blue);
    color: var(--white);
    width: 100%;
}
