.sidebar {
    display: block;
    position: fixed;
    background-color: var(--blue);
    height: 100vh;
    /* width: 200px; */
    /* right: 20px; */
    /* flex: 1; */
    /* padding: 0 0.8rem; */
    transition: 0.5s;
}

.sidebar-title {
    font-size: 1.4rem;
    color: var(--white);
    padding: 15px;
    text-align: right;
    border-bottom: 2px solid #6c48bb;
}

.sidebar-links {
    margin-top: 20px;
}

.sidebar-links a {
    position: relative;
    padding: 15px 20px;

}

.sidebar-links a {
    /* width: 100%; */
    color: var(--white);
    text-decoration: none;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1.3rem;
    transition: 0.5s;

}

.sidebar-links a.active {
    /* background-color: #391588; */
    background-color: var(--active);
    transition: 0.5s;
}
.sidebar-links a:hover{
    color: var(--white);
    background-color: var(--active);
    transition: 0.5s;
}
.sidebar-links a:first-child {
    margin-bottom: 20px;
}

.sidebar-icon {
    margin-left: 8px;
}
.openSidebar{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transition: 0.5s;

    background-color: var(--blue);
    height: 100vh;
    /* width: 200px; */
    /* right: 20px; */
    /* flex: 1; */
    /* padding: 0 0.8rem; */
    transition: 0.5s;
    /* right: -200px; */
}

@media(max-width:1100px) {
    .sidebar{
        /* display: none; */
        right: -200px;
        
    }
}