.modal-parent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* position: fixed; */
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.cms-main {
    margin-top: 60px;
    padding: 20px;
    border-radius: 25px;
}
.modal-parent.active {
    opacity: 1;
    visibility: visible;
}
.details-modal{
    border-radius: 10px;
}
.cms-table {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--white);
}

.cms-table tr {
    text-align: center;
}

.cms-table th,
.cms-table td {
    padding: 20px;
}

.cms-table button {
    background-color: var(--blue);
    color: var(--white);
    padding: 8px 15px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.cms-table button:hover{
    background-color: var(--hover);
    transition: 0.5s;
}