@import "./reset.css";

@font-face {
    font-family: Lalezar;
    src: url(./fonts/Lalezar-Regular.ttf);
}

:root {
    --white: #ffffff;
    --white-50: #f0f0f0;
    --blue: #471AAA;
    --hover: #be2edd;
    --active:#be2edd;
}

body {
    background-color: var(--white-50);
    word-spacing: 0.2em;
}

*,
body,
html {
    font-family: Lalezar;
}